[submodule "modules/custom/colors/ag-themes"]
	path = modules/custom/colors/ag-themes
	url = git@github.com:agzam/ag-themes.el.git
[submodule "modules/custom/writing/youtube-sub-extractor"]
	path = modules/custom/writing/youtube-sub-extractor
	url = git@github.com:agzam/youtube-sub-extractor.el.git
[submodule "modules/custom/web-browsing/browser-hist"]
	path = modules/custom/web-browsing/browser-hist
	url = git@github.com:agzam/browser-hist.el.git
[submodule "modules/custom/writing/wiktionary-bro"]
	path = modules/custom/writing/wiktionary-bro
	url = git@github.com:agzam/wiktionary-bro.el.git
