;;; {{PKG}}.el --- TODO: package description -*- lexical-binding: t; -*-
;;
;; Copyright (C) {{YEAR}} {{AUTHOR}}
;;
;; Author: {{AUTHOR}} <{{EMAIL}}>
;; Maintainer: {{AUTHOR}} <{{EMAIL}}>
;; Created: {{DATE}}
;; Version: 0.1.0
;; Keywords: tools
;; Homepage: https://github.com/{{GH_USER}}/{{PKG}}.el
;; Package-Requires: ((emacs "29.1"))
;;
;; SPDX-License-Identifier: GPL-3.0-or-later
;;
;; This file is not part of GNU Emacs.

;;; Commentary:

;; TODO: describe the package here.

;;; Code:

(defgroup {{PKG}} nil
  "TODO: group docstring."
  :group 'tools
  :prefix "{{PKG}}-")


(provide '{{PKG}})
;;; {{PKG}}.el ends here
