#+title: {{PKG}}.el

TODO: describe the package.

* Installation

** From source

#+begin_src elisp
(use-package {{PKG}}
  :vc (:url "https://github.com/{{GH_USER}}/{{PKG}}.el"))
#+end_src

** Manual

Clone the repository and add to load-path:

#+begin_src elisp
(add-to-list 'load-path "/path/to/{{PKG}}.el")
(require '{{PKG}})
#+end_src

* Usage

TODO: usage instructions.

* License

GPL-3.0-or-later. See [[file:LICENSE][LICENSE]].
